@import "../../styles/contants.scss";

.wrapper {
    background-color: #fff;

    .container{
        align-items: flex-start;
        gap: 2rem;
        flex-wrap: wrap;
        >div{
            flex: 1;
        }
        .leftSide{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            >img{
                max-width: 450px;
            }
        }
        .rightSide{
            @media (max-width: $sm) {
                text-align: center;
            }
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .stats{
                justify-content: flex-start;
                gap: 4rem;

                .stat{
                    flex-direction: column;
                    justify-content: flex-start;
                }
            }
        }
    }
}